<!DOCTYPE html>
<html lang="en">
	<%- include ('include/header') %>
	<body>
		<div class="main-Error">
			<style>
				.inp {
					padding: 0.5rem;
					height: 3rem;
				}
				.flex-row {
					display: flex;
					flex-direction: row !important;
				}
			</style>
			<p>Enter Document hash</p>
			<span class="flex-row">
				<input
					type="text"
					name=""
					class="inp"
					id=""
					placeholder="Eg. -607702aaa052a35e44e7dafa"
				/>
				<button class="menu-btns new base entrance-right">
					<a href="/add">+</a>
				</button>
			</span>
			<span>
				<p>Create new document</p>
				<button class="menu-btns new base entrance-right">
					<a href="/add">+</a>
				</button>
			</span>
		</div>
	</body>
	<%- include ('include/footer') %>
</html>
