<!DOCTYPE html>
<html lang="en">
	<%- include ('include/header') %>
	<h1 class="header">Thanks for using notepad</h1>
	<button class="menu-btns new base entrance-right" style="margin: 1rem">
		<a href="/">+</a>
	</button>
	<%- include ('include/footer') %>
</html>
